# ── PostgreSQL ────────────────────────────────────────────────────────────────
POSTGRES_USER=
POSTGRES_PASSWORD=

# ── MinIO ─────────────────────────────────────────────────────────────────────
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

# ── Superset ──────────────────────────────────────────────────────────────────
SUPERSET_SECRET_KEY=
SUPERSET_ADMIN_USERNAME=
SUPERSET_ADMIN_PASSWORD=
SUPERSET_ADMIN_EMAIL=
